.example-container {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;

    mat-sidenav {
        width: 250px;
        padding: 10px;

        .wrapper {
            margin: 10px 5px 10px 5px;
            button {
                width: 100%;
                margin: 10px 0px 0;
                border-radius: 3px;
                color: #3C4858;
                padding-left: 10px;
                padding-right: 10px;
                text-transform: capitalize;
                font-size: 13px;
                padding: 10px 15px;
                // background-color: #f44336 !important;
                box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(54, 244, 139, 0.4) !important;
            }
        }
       
        


    }
  }