<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Вхід</h5>
          <form class="form-signin">
            <div class="form-label-group">
              <mat-form-field>
                <input matInput type="email" id="inputEmail" placeholder="Емайл"
                  [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}">
              </mat-form-field>
            </div>

            <div class="form-label-group">
              <mat-form-field>
                <input matInput type="password" id="inputPassword" placeholder="Пароль"
                  [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}">
              </mat-form-field>
            </div>

            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" (click)="logIn()">Увійти</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>