<mat-card class="wrapper">
  <div class="arrow" *ngIf="currentTasks.length === 0 || !_currentSubject">
  </div>
  <div class="title" *ngIf="currentTasks.length === 0 || !_currentSubject">
    Виберіть предмет
  </div>
  <!-- for teacher -->
  <mat-card class="container" *ngIf="currentUser.role==='teacher' && _currentSubject.name">
      <mat-card class="subject">
        <h3>Додати нове завдання</h3>
        <mat-card class="input-container">
          <mat-form-field>
            <input matInput placeholder="Назва завдання" [(ngModel)]="newTask.name">
          </mat-form-field>
          <mat-form-field>
            <textarea matInput placeholder="Опис" [(ngModel)]="newTask.description" matTextareaAutosize matAutosizeMinRows=1
              matAutosizeMaxRows=5></textarea>
          </mat-form-field>
          <input type="file" placeholder="Завантаження файлу" [(ngModel)]="file">
          <div class="btn-group">
              <button mat-raised-button color="primary" (click)="addTask()">OK</button>
              <button mat-raised-button color="primary" (click)="clearForm()">Clear Form</button>
          </div>
          
        </mat-card>
    
        <mat-accordion>
          <h3>Список завдань</h3>
          <mat-expansion-panel *ngFor="let task of _currentSubject.tasks; let i=index" (click)="openCompletedTask(task)">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{task.name}}
              </mat-panel-title>
            </mat-expansion-panel-header>
    
            <mat-card>
              {{task.description}}
            </mat-card>
    
            <mat-card>
              <a href="">{{task.file}}</a>
            </mat-card>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card>
      <mat-card class="comletedTask">
        <h3>Список учнів виконавших завдання</h3>
        <mat-accordion>
          <mat-expansion-panel *ngFor="let completedTask of completedTaskList; let i=index">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{completedTask.student.name}}
              </mat-panel-title>
            </mat-expansion-panel-header>
    
            <mat-card>
              {{completedTask.description}}
            </mat-card>
    
            <mat-card>
              <a href="">{{completedTask.file}}</a>
            </mat-card>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card>
    </mat-card>

    <!-- for student -->
    <mat-card *ngIf="currentTasks.length !== 0 && currentUser.role==='student'" class="subject">
      <h3>Завдання</h3>
      <mat-accordion>
        <mat-expansion-panel *ngFor="let task of currentTasks; let i=index">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{task.name}}
            </mat-panel-title>
          </mat-expansion-panel-header>
  
          <mat-card>
            {{task.description}}
          </mat-card>
  
          <mat-card>
            <a href="">{{task.file}}</a>
          </mat-card>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Додати виконане завдання
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field>
              <textarea matInput placeholder="Опис" [(ngModel)]="completedTask.description" matTextareaAutosize
                matAutosizeMinRows=1 matAutosizeMaxRows=5></textarea>
            </mat-form-field>
            <input type="file" (change)=uploadFile($event)>
            <button mat-raised-button color="primary" (click)="addCompletedTask(i)">OK</button>
          </mat-expansion-panel>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card>
</mat-card>