@import url('https://fonts.googleapis.com/css?family=Pacifico');
.container {
    display: flex;
    max-width: 100%;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(54, 244, 139, 0.4) !important;
    .subject {
        width: 50%;
        height: 100%;
        margin: 5px;
        z-index: 1;
        box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(54, 244, 139, 0.4) !important;
        .rated {
            position: absolute;
            z-index: 2;
            top: 44px;
            right: 5px;
        }
        .input-container {
            margin: 10px;
        
            mat-form-field {
                display: block;
                width: 50%;
            }
            .btn-group {
                display: block;
                button {
                    margin: 5px;
                }
            }
            
        }
    }
    
    .comletedTask {
        width: 50%;
        height: 100%;
        margin: 5px;
        box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(54, 244, 139, 0.4) !important;
    }
}
.wrapper {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    &:before{
        width: 100%;
        height: 100%;
        display: block;
        z-index: 0;
        position:absolute;
        left:0;
        top:0;
        content: " ";
        background-image: url('../../../assets/images/mainImg.png');
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: center;
        opacity: 0.6;
    }
    .arrow {
        background-image: url('../../../assets/images/arrow.png');
        position: absolute;
        top: 230px;
        width: 200px;
        height: 50px;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .title {
        position: absolute;
        top: 226px;
        left: 82px;
        font-family: 'Pacifico', cursive;
    }
}


