<h1 mat-dialog-title>Журнал</h1>
<mat-card mat-dialog-content>
  <mat-card class="input-container">
    <mat-form-field>
      <mat-select placeholder="Ім'я та прізвище"[(ngModel)]="newRecord.student">
        <mat-option *ngFor="let student of students" [value]="student">
          {{student.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Завдання" [(ngModel)]="newRecord.task">
        <mat-option *ngFor="let task of tasks" [value]="task">
          {{task}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Оцінка" [(ngModel)]="newRecord.rate">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="addRate()">OK</button>
    <button mat-raised-button color="primary" (click)="clearForm()">Clear Form</button>
  </mat-card>

  <mat-card class="list">
    <table>
      <tr>
        <th>Ім'я та прізвище</th>
        <th *ngFor="let task of tasks">{{task}}</th>
      </tr>
      <tr *ngFor="let student of students; let i = index">
        <td>
          {{student.name}}
        </td>
        <td *ngFor="let task of student.tasks">
          {{task.rated}}
        </td>
        </tr>
    </table>
  </mat-card>
</mat-card>